body {
  max-width: 1200px;
  height: 100vh;
  font-size: 20px;
}

header {
  width: 100%;
  display: block;
}

h1, h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.nav_bar {
  width: 100%;
}

.navigation {
  padding-bottom: 20px;
  margin-top: 4px;
  text-align: center;
  vertical-align: middle;
}

.nav_hover a {
  text-decoration: none;
  color: #965fea;
}

.nav_hover:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  font-weight: bold;
  background-color: #f3e9f1;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

#page_acceuil {
  background-color: #f3e9f1;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.titre_acceuil {
  font-weight: bold;
  background-color: white;
  padding: 2%;
  text-align: center;
  font-size: 25px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
}

.carte_teddies {
  border: solid 0px;
  background-color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.carte_teddies:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), -0.4em 0 0.4em rgba(0, 0, 0, 0.247);
}

a {
  text-decoration: none;
  color: black;
}

.img_teddies {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.name_teddies {
  font-size: 25px;
  margin-bottom: 15px;
  color: #965fea;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

.info_teddies {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.info2_teddies {
  font-size: 20px;
  text-align: center;
  color: chocolate;
  padding: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

.info2_teddies:hover {
  font-weight: bold;
}

@media screen and (min-width: 428px) {
  .img_teddies {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 486px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 335px;
  }
}
@media screen and (min-width: 535px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 370px;
  }
}
@media screen and (min-width: 602px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 415px;
  }
}
@media screen and (min-width: 675px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 470px;
  }
}
@media screen and (min-width: 768px) {
  #page_acceuil {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .carte_teddies {
    margin-left: 35px;
    height: 450px;
    width: 40%;
  }

  .img_teddies {
    width: 100%;
    height: 235px;
  }

  .titre_acceuil {
    height: 15%;
    margin-left: 28.5%;
    padding: 1%;
  }
}
@media screen and (min-width: 874px) {
  .carte_teddies {
    margin-left: 30px;
    height: 465px;
  }

  .img_teddies {
    width: 100%;
    height: 270px;
  }

  .titre_acceuil {
    margin-left: 31%;
  }
}
@media screen and (min-width: 988px) {
  .carte_teddies {
    margin-left: 30px;
    height: 495px;
  }

  .img_teddies {
    width: 100%;
    height: 300px;
  }

  .titre_acceuil {
    margin-left: 33%;
  }
}
@media screen and (min-width: 1062px) {
  .carte_teddies {
    margin-left: 30px;
    height: 527px;
  }

  .img_teddies {
    width: 100%;
    height: 330px;
  }

  .titre_acceuil {
    margin-left: 35%;
  }
}
@media screen and (min-width: 1168px) {
  .titre_acceuil {
    margin-left: 36%;
  }
}
@media screen and (min-width: 1201px) {
  .carte_teddies {
    margin-left: 60px;
    height: 527px;
  }

  .img_teddies {
    width: 100%;
    height: 330px;
  }
}
#page_produit {
  padding-bottom: 5%;
  padding-top: 5%;
  margin-bottom: 5%;
  background-color: #f3e9f1;
}

.presentation_teddies {
  border: solid 0px;
}

.img_produit {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 4%;
}

.nom_produit {
  color: #965fea;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
  padding: 2%;
}

.description_produit, .prix_produit {
  text-align: center;
  margin-bottom: 5%;
}

.prix_produit {
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
  color: #965fea;
  padding: 2%;
  background-color: white;
}

#choix_produit {
  margin-left: 20%;
}

#choix_utilisateur {
  border: solid 2px #965fea;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5%;
  padding: 0.5%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

#choix_utilisateur:hover {
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
}

#btn_envoie {
  border: solid 2px #965fea;
  border-radius: 20px;
  background-color: white;
  margin-left: 32%;
  font-size: 18px;
  color: chocolate;
  padding: 2%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

#btn_envoie:hover {
  color: chocolate;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
}

@media screen and (min-width: 470px) {
  .img_produit {
    width: 100%;
    height: 360px;
  }
}
@media screen and (min-width: 528px) {
  .img_produit {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 585px) {
  .img_produit {
    width: 100%;
    height: 450px;
  }
}
@media screen and (min-width: 657px) {
  .img_produit {
    width: 100%;
    height: 500px;
  }
}
@media screen and (min-width: 731px) {
  .img_produit {
    width: 100%;
    height: 560px;
  }
}
@media screen and (min-width: 768px) {
  .img_produit {
    width: 70%;
    height: 400px;
    margin-left: 15%;
  }

  .nom_produit, .prix_produit {
    padding: 1%;
  }

  #btn_envoie {
    padding: 1%;
    margin-left: 40%;
  }

  #choix_produit {
    margin-left: 30%;
  }
}
@media screen and (min-width: 835px) {
  .img_produit {
    width: 70%;
    height: 450px;
  }
}
@media screen and (min-width: 940px) {
  .img_produit {
    width: 40%;
    height: 280px;
    margin-left: 30%;
  }

  .nom_produit {
    padding: 1%;
    width: 38%;
    margin-left: 30%;
    border-radius: 20px;
  }

  .prix_produit {
    width: 20%;
    margin-left: 40%;
    border-radius: 20px;
    margin-bottom: 3%;
  }

  #btn_envoie {
    padding: 1%;
    margin-left: 43%;
  }

  #choix_produit {
    margin-left: 35%;
  }

  #choix_utilisateur {
    margin-bottom: 2%;
  }

  .description_produit {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 1030px) {
  .img_produit {
    width: 40%;
    height: 310px;
    margin-left: 30%;
    margin-bottom: 0%;
  }

  .nom_produit {
    margin-bottom: 0%;
  }

  .prix_produit {
    margin-bottom: 2.5%;
  }

  #choix_produit {
    margin-left: 38%;
  }

  #choix_utilisateur {
    margin-bottom: 0%;
  }

  .nom_produit {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1140px) {
  .img_produit {
    width: 40%;
    height: 350px;
  }
}
@media screen and (min-width: 1201px) {
  #page_produit {
    padding-bottom: 1%;
    margin-top: 3%;
  }

  .img_produit {
    width: 30%;
    height: 270px;
    margin-left: 35%;
  }

  .nom_produit {
    width: 15%;
    margin-left: 42%;
  }

  .description_produit {
    width: 35%;
    margin-left: 33%;
  }

  .prix_produit {
    width: 5%;
    margin-left: 47%;
  }

  #choix_produit {
    margin-left: 38%;
  }

  #choix_utilisateur {
    margin-bottom: 2%;
  }
}
#page_panier {
  margin-top: 7%;
}

.background_commande {
  background-color: #f3e9f1;
  padding-top: 5%;
  height: 210px;
}

#formulaire_commande {
  margin-top: 50px;
}

.recapitulatif_commande {
  padding-bottom: 5%;
  padding-top: 2%;
  margin-bottom: 20%;
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
  text-align: center;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
}

.titre_form, .panier_vide {
  text-align: center;
  margin-bottom: 5%;
  padding: 2%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
  font-size: 25px;
  font-weight: bold;
}

.background_form {
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: #f3e9f1;
}

.info-produit {
  color: #965fea;
  font-weight: bold;
}

p {
  margin-top: 2%;
  margin-bottom: 4%;
}

.btn_suppr, #envoyer_formulaire {
  border: solid 2px #965fea;
  padding: 2%;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
}

#envoyer_formulaire {
  margin-top: 5%;
}

.btn_suppr:hover, #envoyer_formulaire:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
  font-size: 18px;
  color: #965fea;
  background-color: #f3e9f1;
}

#formulaire_commande {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 10%;
}

#formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
  font-size: 23px;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
  background-color: white;
  color: #965fea;
  font-weight: bold;
}

input {
  border: solid 2px #965fea;
}

#formulaire_prenom:hover, #formulaire_nom:hover, #formulaire_mail:hover, #formulaire_adresse:hover, #formulaire_ville:hover, #formulaire_codePost:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
}

@media screen and (min-width: 505px) {
  .recapitulatif_commande, #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_ville, #formulaire_codePost {
    width: 60%;
    margin-left: 20%;
  }

  #formulaire_adresse {
    width: 80%;
    margin-left: 8%;
  }
}
@media screen and (min-width: 637px) {
  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_ville {
    width: 40%;
    margin-left: 30%;
  }

  .recapitulatif_commande {
    width: 40%;
    margin-left: 30%;
  }

  #formulaire_codePost {
    width: 50%;
    margin-left: 24%;
  }

  #formulaire_adresse {
    width: 60%;
    margin-left: 20%;
  }
}
@media screen and (min-width: 768px) {
  .background_commande {
    padding-top: 2%;
  }

  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_ville {
    width: 32%;
    margin-left: 33%;
  }

  #formulaire_adresse {
    width: 50%;
    margin-left: 23%;
  }

  #formulaire_codePost {
    width: 40%;
    margin-left: 28%;
  }

  .btn_suppr {
    margin-top: 3%;
  }

  .recapitulatif_commande {
    padding-bottom: 3.5%;
  }

  #envoyer_formulaire {
    margin-top: 0;
  }
}
@media screen and (min-width: 830px) {
  .background_commande {
    padding-bottom: 0.5%;
  }

  #formulaire_prenom {
    margin-top: 0;
  }

  .background_form {
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 864px) {
  .recapitulatif_commande {
    padding-bottom: 3%;
  }

  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
    margin-bottom: 0;
    margin-top: 3%;
  }

  #formulaire_codePost {
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 940px) {
  .titre_form, .panier_vide {
    font-size: 23px;
    width: 70%;
    border-radius: 30px;
    margin-bottom: 2%;
    margin-left: 15%;
  }

  .recapitulatif_commande {
    width: 30%;
    margin-left: 35%;
  }

  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost, .commande_produit {
    font-size: 20px;
  }

  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_ville, #formulaire_codePost {
    width: 30%;
    margin-left: 35%;
    padding: 1%;
  }

  #formulaire_prenom {
    margin-top: 0;
  }

  #formulaire_adresse {
    width: 40%;
    margin-left: 30%;
    padding: 1%;
  }

  #envoyer_formulaire {
    width: 25%;
    margin-left: 5%;
    padding: 1.5%;
  }
}
@media screen and (min-width: 1068px) {
  .recapitulatif_commande {
    padding-bottom: 2.5%;
  }
}
@media screen and (min-width: 1120px) {
  .recapitulatif_commande {
    padding-bottom: 2%;
  }
}
@media screen and (min-width: 1201px) {
  .titre_form, .panier_vide {
    width: 30%;
    margin-left: 33%;
  }

  .background_commande, .background_form {
    width: 40%;
    margin-left: 30%;
    padding-top: 3%;
  }

  .recapitulatif_commande, #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
    width: 80%;
    padding-bottom: 4%;
    margin-left: 8%;
  }

  #formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
    padding-bottom: 0;
    padding: 2%;
    font-size: 23px;
  }

  #envoyer_formulaire {
    width: 40%;
  }
}
#page_remerciement {
  text-align: center;
}

.recap_commande {
  margin-bottom: 10%;
  margin-top: 10%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 2%;
  background-color: #f3e9f1;
}

.panier {
  background-color: #f3e9f1;
  padding-top: 3px;
  height: 38px;
  margin-bottom: 10%;
  margin-top: 7%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
}

.confirmation_commande {
  padding-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 15%;
  background-color: #f3e9f1;
}

.prix_commande {
  color: #965fea;
  font-weight: bold;
}

.prix_totale_commande {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 2%;
  background-color: white;
}

.numero_commande {
  color: #965fea;
  font-weight: bold;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 10px;
  background-color: white;
}

@media screen and (min-width: 600px) {
  .recap_commande {
    margin-bottom: 6%;
  }

  .confirmation_commande {
    padding-top: 1%;
  }

  .panier {
    height: 48px;
  }
}
@media screen and (min-width: 800px) {
  .panier {
    height: 55px;
  }
}
@media screen and (min-width: 900px) {
  .recap_commande {
    margin-bottom: 4%;
    width: 30%;
    border-radius: 30px;
    margin-left: 33%;
  }

  .confirmation_commande {
    padding-top: 0.5%;
    margin-bottom: 8%;
    height: 370px;
  }

  .prix_totale_commande, .numero_commande {
    padding: 1%;
    width: 40%;
    margin-left: 28%;
    border-radius: 30px;
  }

  .panier {
    width: 35%;
    margin-left: 32%;
    border-radius: 20px;
    height: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .confirmation_commande {
    height: 390px;
  }
}
@media screen and (min-width: 1080px) {
  .confirmation_commande {
    height: 415px;
  }
}
@media screen and (min-width: 1160px) {
  .confirmation_commande {
    height: 430px;
  }
}
@media screen and (min-width: 1201px) {
  .recap_commande {
    width: 23%;
    padding: 1.5%;
    margin-left: 36.5%;
  }

  .confirmation_commande {
    width: 50%;
    height: 310px;
    margin-left: 25%;
  }

  .prix_totale_commande, .numero_commande {
    width: 60%;
    padding: 1.5%;
    margin-left: 18%;
  }

  .panier {
    width: 25%;
    margin-left: 37%;
  }
}

/*# sourceMappingURL=style.css.map */
