body {
  max-width: 1200px;
  height: 100vh;
  font-size: 20px;
}

header {
  width: 100%;
  display: block;
}

h1, h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.nav_bar {
  width: 100%;
}

.navigation {
  padding-bottom: 20px;
  margin-top: 4px;
  text-align: center;
  vertical-align: middle;
}

.nav_hover a {
  text-decoration: none;
  color: #965fea;
}

.nav_hover:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  font-weight: bold;
  background-color: #f3e9f1;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

#page_acceuil {
  background-color: #f3e9f1;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.carte_teddies {
  border: solid 0px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.carte_teddies:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), -0.4em 0 0.4em rgba(0, 0, 0, 0.247);
}

a {
  text-decoration: none;
  color: black;
}

.img_teddies {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.name_teddies {
  font-size: 25px;
  margin-bottom: 15px;
  color: #965fea;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

.info_teddies {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.info2_teddies {
  font-size: 20px;
  text-align: center;
  color: chocolate;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

.info2_teddies:hover {
  font-weight: bold;
}

@media screen and (min-width: 428px) {
  .img_teddies {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 486px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 335px;
  }
}
@media screen and (min-width: 535px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 370px;
  }
}
@media screen and (min-width: 602px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 415px;
  }
}
@media screen and (min-width: 675px) {
  .carte_teddies {
    width: 90%;
  }

  .img_teddies {
    width: 100%;
    height: 470px;
  }
}
@media screen and (min-width: 768px) {
  #page_acceuil {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .carte_teddies {
    margin-left: 35px;
    height: 450px;
    width: 40%;
  }

  .img_teddies {
    width: 100%;
    height: 235px;
  }
}
@media screen and (min-width: 874px) {
  .carte_teddies {
    margin-left: 30px;
    height: 465px;
  }

  .img_teddies {
    width: 100%;
    height: 270px;
  }
}
@media screen and (min-width: 988px) {
  .carte_teddies {
    margin-left: 30px;
    height: 495px;
  }

  .img_teddies {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 1062px) {
  .carte_teddies {
    margin-left: 30px;
    height: 527px;
  }

  .img_teddies {
    width: 100%;
    height: 330px;
  }
}
@media screen and (min-width: 1201px) {
  .carte_teddies {
    margin-left: 60px;
    height: 527px;
  }

  .img_teddies {
    width: 100%;
    height: 330px;
  }
}
#page_produit {
  padding-bottom: 5%;
  padding-top: 5%;
  margin-bottom: 5%;
  background-color: #f3e9f1;
}

.presentation_teddies {
  border: solid 0px;
}

.img_produit {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin-bottom: 4%;
}

.nom_produit {
  color: #965fea;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
  padding: 2%;
}

.description_produit, .prix_produit {
  text-align: center;
  margin-bottom: 5%;
}

.prix_produit {
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
  color: #965fea;
  padding: 2%;
  background-color: white;
}

#choix_produit {
  margin-left: 20%;
}

#choix_utilisateur {
  border: solid 2px #965fea;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5%;
  padding: 0.5%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

#choix_utilisateur:hover {
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
}

#btn_envoie {
  border: solid 2px #965fea;
  border-radius: 20px;
  background-color: white;
  margin-left: 32%;
  font-size: 18px;
  color: chocolate;
  padding: 2%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}

#btn_envoie:hover {
  color: chocolate;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404), -0.6em 0 0.6em rgba(0, 0, 0, 0.404);
}

@media screen and (min-width: 470px) {
  .img_produit {
    width: 100%;
    height: 360px;
  }
}
@media screen and (min-width: 528px) {
  .img_produit {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 585px) {
  .img_produit {
    width: 100%;
    height: 450px;
  }
}
@media screen and (min-width: 657px) {
  .img_produit {
    width: 100%;
    height: 500px;
  }
}
@media screen and (min-width: 731px) {
  .img_produit {
    width: 100%;
    height: 560px;
  }
}
@media screen and (min-width: 768px) {
  .img_produit {
    width: 70%;
    height: 400px;
    margin-left: 15%;
  }

  .nom_produit, .prix_produit {
    padding: 1%;
  }

  #btn_envoie {
    padding: 1%;
    margin-left: 40%;
  }

  #choix_produit {
    margin-left: 30%;
  }
}
@media screen and (min-width: 835px) {
  .img_produit {
    width: 70%;
    height: 450px;
  }
}
@media screen and (min-width: 940px) {
  .img_produit {
    width: 40%;
    height: 280px;
    margin-left: 30%;
  }

  .nom_produit {
    padding: 1%;
    width: 38%;
    margin-left: 30%;
    border-radius: 20px;
  }

  .prix_produit {
    width: 20%;
    margin-left: 40%;
    border-radius: 20px;
    margin-bottom: 3%;
  }

  #btn_envoie {
    padding: 1%;
    margin-left: 43%;
  }

  #choix_produit {
    margin-left: 35%;
  }

  #choix_utilisateur {
    margin-bottom: 2%;
  }

  .description_produit {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 1030px) {
  .img_produit {
    width: 40%;
    height: 310px;
    margin-left: 30%;
  }

  #choix_produit {
    margin-left: 38%;
  }
}
.recapitulatif_commande {
  padding-bottom: 5%;
  padding-top: 2%;
  margin-bottom: 20%;
  border-radius: 20px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #f3e9f1;
  text-align: center;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
}

.commande_produit {
  text-align: center;
  margin-bottom: 5%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
  padding: 2%;
  font-size: 25px;
  font-weight: bold;
}

.info-produit {
  color: #965fea;
  font-weight: bold;
}

p {
  margin-top: 2%;
  margin-bottom: 4%;
}

.btn_suppr, #envoyer_formulaire {
  border: solid 2px #965fea;
  padding: 2%;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
}

#envoyer_formulaire {
  margin-top: 5%;
}

.btn_suppr:hover, #envoyer_formulaire:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
  font-size: 18px;
  color: #965fea;
}

#formulaire_commande {
  background-color: #f6f6f6;
  padding-top: 5%;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 10%;
}

#formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
  font-size: 23px;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
  background-color: #f3e9f1;
}

input {
  border: solid 2px #965fea;
}

#formulaire_prenom:hover, #formulaire_nom:hover, #formulaire_mail:hover, #formulaire_adresse:hover, #formulaire_ville:hover, #formulaire_codePost:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
}

#page_remerciement {
  text-align: center;
}

.recap_commande {
  margin-bottom: 40px;
  margin-top: 30px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 10px;
  background-color: #f3e9f1;
}

.confirmation_commande {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color: #f6f6f6;
}

.prix_commande {
  color: #965fea;
  font-weight: bold;
}

.prix_totale_commande {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 10px;
  background-color: white;
}

.numero_commande {
  color: #965fea;
  font-weight: bold;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
