#page_acceuil {
    background-color: #f3e9f1;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
}
.carte_teddies {
    border: solid 0px ;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.carte_teddies:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247), -0.4em 0 0.4em rgba(0, 0, 0, 0.247);
}
a {
    text-decoration: none;
    color: black;
}
.img_teddies {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.name_teddies {
    font-size: 25px;
    margin-bottom: 15px;
    color: #965fea;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}
.info_teddies {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.info2_teddies {
    font-size: 20px;
    text-align: center;
    color: chocolate;
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}
.info2_teddies:hover {
    font-weight: bold;
}

@media screen and (min-width: 428px) {
    .img_teddies{
        width: 100%;
        height: 300px;
    }
}
@media screen and (min-width: 486px) {
    .carte_teddies {
        width: 90%;
    }
    .img_teddies{
        width: 100%;
        height: 335px;
    }
}
@media screen and (min-width: 535px) {
    .carte_teddies {
        width: 90%;
    }
    .img_teddies{
        width: 100%;
        height: 370px;
    }

}
@media screen and (min-width: 602px) {
    .carte_teddies {
        width: 90%;
    }
    .img_teddies{
        width: 100%;
        height: 415px;
    }
}
@media screen and (min-width: 675px) {
    .carte_teddies {
        width: 90%;
    }
    .img_teddies{
        width: 100%;
        height: 470px;
    }
}
// Fin responsive mobile
// Début responsive tablette
@media screen and (min-width: 768px) {
    #page_acceuil {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .carte_teddies {
        margin-left: 35px;
        height: 450px;
        width: 40%;
    }
    .img_teddies{
        width: 100%;
        height: 235px;
    }
}
@media screen and (min-width: 874px) {
    .carte_teddies {
        margin-left: 30px;
        height: 465px;
    }
    .img_teddies{
        width: 100%;
        height: 270px;
    }
}
@media screen and (min-width: 988px) {
    .carte_teddies {
        margin-left: 30px;
        height: 495px;
    }
    .img_teddies{
        width: 100%;
        height: 300px;
    }
}
@media screen and (min-width: 1062px)  {
    .carte_teddies {
        margin-left: 30px;
        height: 527px;
    }
    .img_teddies{
        width: 100%;
        height: 330px;
    }
}
// Fin responsive tablette
// Début responsive desktop
@media screen and (min-width: 1201px) {
    .carte_teddies {
        margin-left: 60px;
        height: 527px;
    }
    .img_teddies{
        width: 100%;
        height: 330px;
    }
}