.recapitulatif_commande {
    padding-bottom: 5%;
    padding-top: 2%;
    margin-bottom: 20%;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #f3e9f1;
    text-align: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
}
.commande_produit {
    text-align: center;
    margin-bottom: 5%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -0.4em 0 0.4em rgba(0, 0, 0, 0.1);
    padding: 2%;
    font-size: 25px;
    font-weight: bold;
}
.info-produit {
    color: #965fea;
    font-weight: bold;
}
p {
    margin-top: 2%;
    margin-bottom: 4%;
}
.btn_suppr, #envoyer_formulaire {
    border: solid 2px #965fea;
    padding: 2%;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
}
#envoyer_formulaire {
    margin-top: 5%;
}
.btn_suppr:hover, #envoyer_formulaire:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
    font-size: 18px;
    color: #965fea;
}

#formulaire_commande {
    background-color: #f6f6f6;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
    margin-bottom: 10%;
}
#formulaire_prenom, #formulaire_nom, #formulaire_mail, #formulaire_adresse, #formulaire_ville, #formulaire_codePost {
    font-size: 23px;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    background-color: #f3e9f1;
}
input {
    border: solid 2px #965fea;
}

#formulaire_prenom:hover, #formulaire_nom:hover, #formulaire_mail:hover, #formulaire_adresse:hover, #formulaire_ville:hover, #formulaire_codePost:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.671), -0.4em 0 0.4em rgba(0, 0, 0, 0.671);
}