#page_produit {
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    background-color: #f3e9f1;
}
.presentation_teddies {
    border: solid 0px;
}
.img_produit {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 4%;
}
.nom_produit {
    color: #965fea;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
    padding: 2%;
}
.description_produit, .prix_produit {
    text-align: center;
    margin-bottom: 5%;
}
.prix_produit {
    font-weight: bold;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
    color: #965fea;
    padding: 2%;
    background-color: white;
}
#choix_produit {
    margin-left: 20%;
}
#choix_utilisateur {
    border: solid 2px #965fea;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5%;
    padding: 0.5%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}
#choix_utilisateur:hover {
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.404), -.6em 0 .6em rgba(0, 0, 0, 0.404);
}
#btn_envoie {
    border: solid 2px #965fea;
    border-radius: 20px;
    background-color: white;
    margin-left: 32%;
    font-size: 18px;
    color: chocolate;
    padding: 2%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.13), -0.4em 0 0.4em rgba(0, 0, 0, 0.13);
}
#btn_envoie:hover {
    color: chocolate;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.404), -.6em 0 .6em rgba(0, 0, 0, 0.404);
}
// Début responsive mobile first
@media screen and (min-width: 470px) {
    .img_produit {
        width: 100%;
        height: 360px;
    }
    
}
@media screen and (min-width: 528px) {
    .img_produit {
        width: 100%;
        height: 400px;
    }
}
@media screen and (min-width: 585px) {
    .img_produit {
        width: 100%;
        height: 450px;
    }
}
@media screen and (min-width: 657px) {
    .img_produit {
        width: 100%;
        height: 500px;
    }
}
@media screen and (min-width: 731px) {
    .img_produit {
        width: 100%;
        height: 560px;
    }
}
// Fin responsive mobile
// Début responsive tablette (768 X 1200)
@media screen and (min-width: 768px) {
    .img_produit {
        width: 70%;
        height: 400px;
        margin-left: 15%;
    }
    .nom_produit, .prix_produit {
        padding: 1%;
    }
    #btn_envoie {
        padding: 1%;
        margin-left: 40%;
    }
    #choix_produit {
        margin-left: 30%;
    }

}
@media screen and (min-width: 835px) {
    .img_produit {
        width: 70%;
        height: 450px;
    }
}
@media screen and (min-width: 940px) {
    .img_produit {
        width: 40%;
        height: 280px;
        margin-left: 30%;
    }
    .nom_produit {
        padding: 1%;
        width: 38%;
        margin-left: 30%;
        border-radius: 20px;
    }
    .prix_produit {
        width: 20%;
        margin-left: 40%;
        border-radius: 20px;
        margin-bottom: 3%;
    }
    #btn_envoie {
        padding: 1%;
        margin-left: 43%;
    }
    #choix_produit {
        margin-left: 35%;
    }
    #choix_utilisateur {
        margin-bottom: 2%;
    }
    .description_produit {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 3%
    }
}
@media screen and (min-width: 1030px) {
    .img_produit {
        width: 40%;
        height: 310px;
        margin-left: 30%;
        margin-bottom: 0%;
    }
    .nom_produit {
        margin-bottom: 0%;
    }
    .prix_produit {
        margin-bottom: 2.50%;
    }
    #choix_produit {
        margin-left: 38%;
    }
    #choix_utilisateur {
        margin-bottom: 0%;
    }
}
@media screen and (min-width: 1140px) {
    .img_produit {
        width: 40%;
        height: 350px;
    }
}
// Fin responsive tablette
// Début responsive desktop
@media screen and (min-width: 1201px) {
    #page_produit {
        padding-bottom: 1%;
        margin-top: 3%;
    }
    .img_produit {
        width: 30%;
        height: 270px;
        margin-left: 35%;
    }
    .nom_produit {
        width: 15%;
        margin-left: 42%;
    }
    .description_produit {
        width: 35%;
        margin-left: 33%;
    }
    .prix_produit {
        width: 5%;
        margin-left: 47%;
    }
    #choix_produit {
        margin-left: 38%;
    }
    #choix_utilisateur {
        margin-bottom: 2%;
    }
}
// Fin responsive desktop