#page_remerciement {
    text-align: center;

}
.recap_commande {
    margin-bottom: 40px;
    margin-top: 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 10px;
    background-color: #f3e9f1;
}
.confirmation_commande {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: #f6f6f6;
}
.prix_commande {
    color: #965fea;
    font-weight: bold;
}
.prix_totale_commande {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 10px;
    background-color: white;
}
.numero_commande {
    color: #965fea;
    font-weight: bold;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 10px;
}