#page_remerciement {
    text-align: center;

}
.recap_commande {
    margin-bottom: 10%;
    margin-top: 10%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 2%;
    background-color: #f3e9f1;
}
.panier {
    background-color: #f3e9f1;
    padding-top: 3px;
    height: 38px;
    margin-bottom: 10%;
    margin-top: 7%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
}
.confirmation_commande {
    padding-top: 3%;
    padding-bottom: 2%;
    margin-bottom: 15%;
    background-color: #f3e9f1;
}
.prix_commande {
    color: #965fea;
    font-weight: bold;
}
.prix_totale_commande {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 2%;
    background-color: white;
}
.numero_commande {
    color: #965fea;
    font-weight: bold;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.377), -0.4em 0 0.4em rgba(0, 0, 0, 0.377);
    padding: 10px;
    background-color: white;
}
// Début responsive mobile first
@media screen and (min-width: 600px) {
    .recap_commande {
        margin-bottom: 6%;
    }
    .confirmation_commande {
       padding-top: 1%;
    }
    .panier {
        height: 48px;
    }
}
// Fin resposonsive mobile first
// Début responsive tablette
@media screen and (min-width:800px) {
    .panier {
        height: 55px;
    }
}
@media screen and (min-width: 900px) {
    .recap_commande {
        margin-bottom: 4%;
        width: 30%;
        border-radius: 30px;
        margin-left: 33%;
    }
    .confirmation_commande {
       padding-top: 0.50%;
       margin-bottom: 8%;
       height: 370px;
    }
    .prix_totale_commande, .numero_commande {
        padding: 1%;
        width: 40%;
        margin-left: 28%;
        border-radius: 30px;
    }
    .panier {
        width: 35%;
        margin-left: 32%;
        border-radius: 20px;
        height: 40px;
    }
}
@media screen and (min-width: 1000px) {
    .confirmation_commande {
       height: 390px;
    }
}
@media screen and (min-width: 1080px) {
    .confirmation_commande {
       height: 415px;
    }
}
@media screen and (min-width: 1160px) {
    .confirmation_commande {
       height: 430px;
    }
}
// Fin responsive tablette
// Début responsive desktop
@media screen and (min-width: 1201px) {
    .recap_commande {
        width: 23%;
        padding: 1.50%;
        margin-left: 36.5%;
    }
    .confirmation_commande {
        width: 50%;
        height: 310px;
        margin-left: 25%;
    }
    .prix_totale_commande, .numero_commande {
        width: 60%;
        padding: 1.50%;
        margin-left: 18%;
    }
    .panier {
        width: 25%;
        margin-left: 37%;
    }
}
// Fin responsive desktop